{{> head }}

    {{> navbar }}
              
              <div class="row">
                <div class="col-8">
                    <h1>Cosas que poner</h1>
                </div>    
                    <div class="col-4">
                        <img src="assets/img/450_1000.jpg" class="img-thumbnail">

                    </div>

                  </div>

{{> footer}}